<%- include ('../partials/header') %>
  <link rel="stylesheet" hrref="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <div class="container">
        <header class="jumbotron">
            <div>
                         <div>
                                        <i id="cloud" class="fa fa-cloud fa-lg"></i>
                                        <h1 class="heading-library">Our Library <em class="emphasis">  We have thousands of books here</em><h1> 
                                        <p><a class="btn btn-primary" href="/campgrounds/new">Add new</a></p>
                         </div>
            </div> 
        </header>
       <div class="row text-center" style="display:flex;flex-wrap:wrap;">
               <%campgrounds.forEach(function(campground){%>
        
                     <div class="col-md-4 col-sm-6">
                         <div class="img-thumbnail img-fluid" >
                             <img src="<%=campground.image%>" class="img-fluid" alt="Responsive image">
                            <div clas="caption">
                                <h4><%=campground.name%></h4>
                            </div>
                            <p>
                                <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More info</a>
                            </p>
                         </div>
                          
                           
                     </div>
        
         <% }); %>
       </div>
       
    </div>

 <%- include ('../partials/footer') %>